[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/vkvg"]
	path = external/vkvg
	url = https://github.com/jpbruyere/vkvg.git
